/* Navigation styles */
body {margin: 0;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:  brown;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 18px 85px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: gray;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

.left, .center, .right {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*background color */
body {
  background-color: silver;
}


.casestudy1, .casestudy2, .casestudy3, .casestudy4, .casestudy5 {
    
    background-position: center;
    height: 200px;
    max-width: 200px;
    margin: auto;
    margin-bottom: 10px;
    background-color: blue;
    border-radius: 40px;
    background-image: url("../images/casestudy1.png");
}

.casestudy1 {
    /*margin-top:20px;*/
    background-image: url("../images/casestudy1.png");
    background-repeat: no-repeat;
    background-position: center;
    /*border-radius: 48px;*/
}

.casestudy2 {
    background-image: url("../images/casestudy2.png");
    background-repeat: no-repeat;
    background-position: center;
}

.casestudy3 {
    background-image: url("../images/casestudy3.png");
    background-repeat: no-repeat;
    background-position: center;
}
.caseStudyPortfolio {
    background-position: center;
    height: 500px;
    max-width: 500px;
    margin: auto;
    margin-bottom: 10px;
    background-color: blue;
    border-radius: 48px;
    background-image: url("../images/casestudy3.png");

}
.text {
    background: rgb(0,0,0,0.7);
    width: 84%;
    padding: 20px 40px;
    color: brown;
}

.text p {
    color: rgba(255, 255, 255, 0.7);
    font-family: Arial, Helvetica, Arial, Helvetica, sans-serif;
}


/*About page*/
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
 
  /* Style the counter cards-aboutme,portfolio & index */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: whitesmoke
  }
  /* for somereason this is set to the logo placement */
  body{
    text-align:center;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
 }
 h1 {
  color: brown;
}
 h2 {
  color: black;
}
h3 {
  color: black;
}
h4 {
  color: black;
}
h5 {
  color: firebrick;
}
h6 {
  color: black;
}
p {
  color: black;
}
 .div2{
    background: tan;
    border: 1px solid black;
    padding:30px;
    width: 350px;
    height: 350px;
 }


    /* Portfolio */
    * {
        box-sizing: border-box;
      }
      
      body {
        background-color: #f1f1f1;
        padding: 20px;
        font-family: Arial;
      }
      
      /* Center website */
      .main {
        max-width: 1000px;
        margin: auto;
      }
      
      h1 {
        font-size: 40px;
        word-break: break-all;
      }
      
      .row {
        margin: 8px -16px;
      }
      
      /* Add padding BETWEEN each column */
      .row,
      .row > .column {
        padding: 8px;
      }
      
      /* Create four equal columns that floats next to each other */
      .column {
        float: left;
        width: 25%;
      }
      /* portfolio cards */
      .myDiv {
        border: 1px outset brown;
        background-color: white;    
        text-align: center;
      }
      
      /* Content */
      .content {
        background-color: white;
        padding: 10px;
      }
      
      /* contact page */
      * {
        box-sizing: border-box;
      }
      
      /* Style inputs contact page*/
      input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid olive;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
      }
      
      input[type=submit] {
        background-color: gray;
        color:  black;
        padding: 12px 20px;
        border: none;
        cursor: pointer;
      }
      
      input[type=submit]:hover {
        background-color: gray;
      }
      /*#contact {
        outline: 1px solid red;
      }*/
      .footerLeftContainer {
        outline: 1px solid blue;
      }

      
   * {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    flex: 33.33%;
    padding: 5px;
  }
      /* Style the container/contact section */
      /*.container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 10px;
      
      
      /* Create two columns that float next to eachother */
      .column {
        float: left;
        width: 50%;
        margin-top: 6px;
        padding: 20px;
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
      /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 600px) {
        .column, input[type=submit] {
          width: 100%;
          margin-top: 0;
        }
      }

      /* About Me hero space */
/* jumotron- about me */
.jumbotron {
  position: relative;
  background: url("../images/LostLake.jpeg");
  background-size: cover;
}

.jumbotron > .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: "/images/LostLake.jpeg";
  /*background-color: rgba(255, 132, 230, 0.85);*/
  z-index: 1;
}

.jumbotron > .inner {
  position: relative;
  z-index: 2;
}
      
     
.hero-image {
  display: block;/* needed for jumbotron image */
       z-index:-1;
       margin-left: auto;
       margin-right: auto;
       width: 100%;
     }
     
     p {
       padding: 3rem;
       &:last-of-type {
         padding-top: 0;
         font-weight: 600;
       }
     }
     
     div, p {
       font-family: Arial, Helvetica, sans-serif;
       text-rendering: optimizeLegibility;
     }*/
      /* hero space/jumbotron */

      /* about me */
      img.sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        width: 200px;
      }
      img.sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        width: 200px;
      }
/* @media rule */
@media only screen and (max-width: 600px) {
  body {
    background-color:  rgb(155, 155, 139);
}
}
@media only screen and (max-width: 600px) {
  .footer {
    background-color:  rgb(155, 155, 139);
  }
}

/* end @media rule */

/* Resume */
/* accordian v2 */
bodyAccordian {
  background-color: #FFF8F2;
  color: #373539;
  font-family: 'Montserrat', sans-serif;
}

.containerAccordian {
 padding: 200px;
}

.faq-drawer {
  margin-bottom: 30px;
}

.faq-drawer__content-wrapper {
  font-size: 1.25em;
  line-height: 1.4em;
  max-height: 0px;
  overflow: hidden;
  transition: 0.25s ease-in-out;
}

.faq-drawer__title {
  border-top: #000 1px solid;
  cursor: pointer;
  display: block;
  font-size: 1.25em;
  font-weight: 700;
  padding: 30px 0 0 0;
  position: relative;
  margin-bottom: 0;
  transition: all 0.25s ease-out;
}

.faq-drawer__title::after {
  border-style: solid;
  border-width: 1px 1px 0 0;
  content: " ";
  display: inline-block;
  float: right;
  height: 10px;
  left: 2px;
  position: relative;
  right: 20px;
  top: 2px;
  transform: rotate(135deg);
  transition: 0.35s ease-in-out;
  vertical-align: top;
  width: 10px;
}

/* OPTIONAL HOVER STATE */
.faq-drawer__title:hover { 
  color: #4E4B52  ;
}

.faq-drawer__trigger:checked
  + .faq-drawer__title
  + .faq-drawer__content-wrapper {
  max-height: 350px;
}

.faq-drawer__trigger:checked + .faq-drawer__title::after {
  transform: rotate(-45deg);
  transition: 0.25s ease-in-out;
}

input[type="checkbox"] {
  display: none;
}

@media only screen and (max-width: 600px) {
  .containerAccordian {
    padding: 80px;
  }
}

/* new accordian on resume 
#panel, #flip {
  padding: 5px;
  text-align: center;
  background-color: tan;
  border: solid 1px #c3c3c3;
}

#panel {
  padding: 50px;
  display: none;
}*/

/* container try */

  
.arrow {
  text-align: center;
  margin: 8% 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
/* footer icon */
/* Footer Styles */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  height: 60px;
}

.footer a{ 
  display: flex;
  padding: 10px 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
 

.lin {
  color: rgb(8, 0, 255);
}
/* footer Container holding the image and the text */
.container {
 /*outline: 1px solid red;*/
  position: relative;
  text-align: center;
  color: white;
}
/* Top right text */
.top-right {
  position: absolute;
  top: 0px;
  right: 60px;
  margin-top: 0px;
}
.top-left {
  position: absolute;
  top: 8px;
  left: 15px;
}

* {
  box-sizing: border-box;
}
/* Top left text */
.top-left {
  position: absolute;
  top: 0;
  left: 30;
  z-index: 20;
}

/* footer contact text */
.contact {
  color: black;
}
/* Footer container new*/
.row {
  display: flex; /* equal height of the children */
}
.col {
  flex: 1; /* additionally, equal width */
  
  padding: 1em;
  border: solid;
  margin: 1px;
}	
/* responsive flexbox ux skills resume */








/* alternate contact form 
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

body {
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size: 12px;
	line-height:30px;
	color:#777;
	background:#0CF;
}

.container {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
}

#contact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}*/

/*.newFooter {
  width: 255px;
}
.newFooterLeft {
  float: left; 
  background-image: url("/images/footerimageleft.png");
}

.newFooterRight {
  float: right; 
  background-image: url("../images/footerrtimage.png");
}*/
/* below footer container left */
      /*.image {
        position:relative;
        width:100%
      }
      h2 {
        position: absolute;
        top: 0px;
        left: 20px;;
        width:100%;
      }
      h2 span { 
        color: white; 
        font: bold 24px/45px Arial, Sans-Serif; 
        letter-spacing: -1px;  
        background: white(0, 0, 0);  
        background: white(0, 0, 0, 0.7);
        padding: 10px; 
     }
     h2 span.spacer {
      padding:0 1px;
   }*/
   /* right side footer */
